<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/galeria">Galeria</a>
                <a class="nav-link" href="#" routerLink="/testimonios">Testimonios</a>
                <a class="nav-link" href="#" routerLink="/noticia">Noticia</a>
                <a class="nav-link" href="#">Actividades</a>
                <a class="nav-link" href="#" routerLink="/prevencion">Prevencion</a>
                <a class="nav-link" href="#" routerLink="/donaciones">Donaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categorias">Editar categoria</a>
                <a class="nav-link" routerLink="/admin-galeria">Admin-Galeria</a>
                <a class="nav-link" routerLink="/admin-testimonios">Admin-Testimonios</a>
                <a class="nav-link" href="#" routerLink="/admin-actividades">Admin-Actividades</a>
                <a class="nav-link" href="#" routerLink="/admin-noticia">Admin-Noticia</a>
                <a class="nav-link" routerLink="/admin-prevencion">Admin-Prevencion</a>
            </li>
        </ul>
    </div>
</nav>