<div class="jumbotron jumbotron-fluid" style="background: url(../../../assets/photo_2020-07-02_11-04-02.jpg) center center / cover no-repeat; align-content: center center; height: 600px; color: gray;">
    <div class="container">
        <div class="col-6">
            <br>
            <h1 style="font-size: 3cm; color: white;">
                Fundacion
            </h1>

        </div>
    </div>
</div>
<div class="container">
    <div class="col-10">
        <p style="font-size: 25px; text-align: center;">
            Somos una entidad sin fines de lucro, que nos dedicamos a la prevención, acompañamiento, rehabilitación y reinserción social de personas que sufren distintas problemáticas relacionadas con adicciones.
        </p>
    </div>
</div>
<hr>

<div class="center-box">
    <div class="row">
        <div class="col">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <b>Sedes</b> 
                          </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <li>
                                <p style="font-size: 15px;">Contamos con una sede central ubicada en Cipolletti, con capacidad para 10 personas. Donde llevamos a cabo tratamientos ambulatorios y atención a familiares de usuarios en recuperación.</p>
                            </li>
                            <li>
                                <p style="font-size: 15px;">También disponemos de una casa de internarciòn ubicada en Allen, donde tenemos una capacidad de 28 camas.</p>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <b>Personal</b>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p style="font-size: 15px;">
                                <li>
                                    Fundador y Presidente:<br>- Gustavo Rodrìguez
                                </li>
                                <li>
                                    Director Comunidad Terapéutica:<br>- Jose Morinigo
                                </li>
                                <li>
                                    Equipo Multidisciplinario<br>- Natalia Martín (Psicóloga)<br>- Marcos Martínez (Psicólogo)<br>- Soledad Rost (Psicóloga)<br>- Gustavo Rodríguez (Psicólogo Social)<br>- Mariel Ditrich (Operadora Terapéutica)<br>- José
                                    Morinigo (OperadorTerapéutico)
                                </li>
                                <li>
                                    Colaboradores/as:<br>- Angela Fattorel<br>- Padre Héctor García Gambino
                                </li>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-6 mx-auto my-4" *ngFor=" let l  of lista_datos_prev ; let isfirst = first" [ngClass]="{active:isfirst}">
        <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img [src]="l.imagen || 'assets/not-found-image.jpg'" style="height: 150px;" class="img-fluid " />
                </div>
                <div class="col-md-8 ">
                    <div class="card-body ">
                        <h5 class="card-title ">{{l.titulo}}</h5>
                        <p class="card-text  ">
                            {{l.descripcion}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<br>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col-md-3 mx-auto my-4 " *ngFor=" let n of lista_datos ; let isfirst=f irst " [ngClass]="{active:isfirst} ">
        <div class="card h-100 ">
            <img [src]="n.imagen || 'assets/not-found-image.jpg' " style="height: 280px; " class="card-img-top " class="card-img-top " alt="... " />
            <div class="card-body ">
                <h5 class="card-title ">{{n.titulo}}</h5>
                <p class="card-text ">
                    {{n.descripcion}}
                </p>
            </div>
        </div>
    </div>
</div>