<div class="row">
    <div class="col-lg-4">
        <img class="img-fluid" [src]="unTestimonio.imagen" alt="">
    </div>


    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">{{unTestimonio.nombre}}</div>
            <div class="card-body">
                <h6 class="card-subtitle">Edad: {{unTestimonio.edad}}</h6>
                <hr color="green" size=2>
                <p [innerHtml]="unTestimonio.descripcion"></p>
            </div>
        </div>
    </div>
</div>
