<div class="row">

    <div class="col-lg-7">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Categorias de prevenciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of listacategorias | paginate:{itemsPerPage:5, currentPage:p} ">
                    <td>{{categoria.id_cp}}</td>
                    <td>{{categoria.descripcion}}</td>
                    <td>
                        <div class="btn-group-sm">
                            <button (click)="borrar(categoria.id_cp)" class="btn btn-danger">Eliminar</button>
                            <button (click)="editarCategoria(categoria)" class="btn btn-primary">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="row">
            <div class="col-sm-4">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>

    </div>


    <div class="col-lg-5">

        <div class="card">
            <div class="card-header">Añadir prevencion</div>
            <div class="card-body">
                <form [formGroup]="formCategoria" (ngSubmit)="guadarCategoria()">

                    <input formControlName="id_cp" type="hidden">

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':formCategoria.get('descripcion')?.touched}" formControlName="descripcion" type="text" class="form-control" placeholder="ingrese la nueva categoria">
                        <div class="invalid-feedback">
                            <span *ngIf="formCategoria.get('descripcion').hasError('required')">Campo obligatorio</span>
                        </div>
                    </div>
                    <button [disabled]="formCategoria.invalid" class="btn btn-success">Añadir</button>
                </form>
            </div>
        </div>

    </div>

</div>