<div class="row">

    <div class="col-lg-4">

        <div class="card">
            <div class="card-header">Formulario actividades</div>
            <div class="card-body">

                <form [formGroup]="formActividades" (ngSubmit)="guardaractividad()" novalidate>

                    <input formControlName="id_actividad" type="number">

                    <div class="form-group">
                        <input formControlName="titulo" placeholder="ingrese el titulo de la imagen" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <angular-editor formControlName="descripcion" [config]="editorConfig"></angular-editor>
                    </div>
                    <div class="form-group ">
                        <select formControlName="categoria_actividad" class="form-control">
                            <option value="0" disabled>Seleccionar categoria</option>
                            <option *ngFor="let categoria of listar_categoria" value="{{categoria.id_cg}}">{{categoria.descripcion}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input formControlName="fecha_hora" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-primary calendar" (click)="d.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="estado" placeholder="ingrese el estado" type="number" class="form-control">
                    </div>
                    <div [style]="ocultar_btnfile" class="form-group">
                        <input (change)="previewimagen($event)" formControlName="archivo" class="form-control-file" type="file" name="" id="" multiple>
                    </div>

                    <div class="form-group">
                        <button [disabled]="formActividades.invalid" class="btn btn-success">Guardar</button>
                        <button type="button" (click)="vaciarForm()" type="button " class="btn btn-primary ">Vaciar</button>
                    </div>

                </form>

                <div [style]="ocultar_btnfile" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        <div *ngFor=" let url of img_url; let isfirst = first" [ngClass]="{active:isfirst}" class="carousel-item">
                            <img [src]="url" class="d-block w-100" alt="...">
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">

        <div class="card">

            <div class="card body">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre de la actividad</th>
                            <th>Descripcion de la actividad</th>
                            <th>Categoria</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fila of actividades">
                            <td>{{fila.id_actividades}}</td>
                            <td>{{fila.titulo}}</td>
                            <td [innerHtml]="fila.descripcion"></td>
                            <td>{{fila.categoria_actividad}}</td>
                            <td>{{fila.fecha_hora}}</td>
                            <td>{{fila.estado}}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button (click)="detalleEvento(fila.id_actividades)" class="btn btn-info">Ver mas</button>
                                    <button (click)="eliminarActividad(fila.id_actividades)" class="btn btn-danger">Eliminar</button>
                                    <button (click)="editaractividad(fila)" class="btn btn-primary">Editar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<ngx-spinner></ngx-spinner>